@model Product
@{
    ViewData["Title"] = "Edit";
}


<div class="container text-center">
    <form method="post" asp-controller="Products" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <input asp-for="Name" class="form-control" />
        <input asp-for="Price" class="form-control" />
        <button type="submit" class="btn btn-warning">Update</button>
    </form>
</div>